{% extends 'layout/base.html' %}

{% load bootstrap4 %}
{% load thumbnail %}
{% load static %}

{% block title %}Профиль пользователя{% endblock title %}

{% block content %}
<h2>Профиль пользователя {{ user.username }}</h2>
<p>{{ user.username }} из г.{{ user.city }}</p>
{% if user.avatar %}
    <div class="col-md-auto">
        <img src="{{ user.avatar.url }}" alt="{{ user.username }}" class="rounded-circle" width="200">
    </div>
{% else %}
    <img src="{% static 'account/img/no_photo.jpg' %}" alt="load your avatar" class="image-circle">
{% endif %}
<p>{{ user.about }}</p>
<form>
    <a href="{% url 'src.cats:detail' %}">
        <input type="button" class="btn btn-primary" value="Мои питомцы">
    </a>
</form>
{% endblock content %}
