{% extends 'layout/base.html' %}

{% load bootstrap4 %}
{% load static %}

{% block title %}{{ pet.name }}{% endblock title %}
{% block sidebar %}
    {{ block.super }}
    <a href="{% url 'src.cats:detail' %}">Назад</a>
{% endblock sidebar %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col">
            {% for p in pet %}
            {% if p.photo %}
                <img src="{{ p.photo.url }}" class="main-image"><br>
            {% else %}
                <img src="{% static 'account/img/no_photo.jpg' %}" alt="load your avatar" class="round-circle">
            {% endif %}<br>
            <p><a href="{% url 'src.cats:add_photo' pet_id=p.pk %}">Добавить фото</a></p>
            <p><a href="{% url 'src.cats:change_info' pk=p.pk %}">Редактировать</a></p>

        </div>
        <div class="col">
            <h3>О питомце: </h3><br>
            <p>Имя: <i>{{ p.name }}</i></p><br>
            <p>Цвет: {{ p.color }}</p>
            <p>Дата рождения: {{ p.birthday }}</p>
            <p>Темперамент: <strong>{{ p.temperament }}</strong></p>
            {{ p.description }}<br>
        </div>
        <div class="col">
            {% if images %}
                <h3>Фотографии:</h3>
                {% for image in images %}
                    <img src="{{ image.photo.url }}" class="additional-image"><br>
                    <p>{{ image.title }}</p>
                {% endfor %}
                {% else %}
                <p>Фотоальбом пуст</p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
