{% extends 'layout/base.html' %}

{% load bootstrap4 %}
{% load thumbnail %}
{% load static %}

{% block title %}Мои питомцы{% endblock title %}
{% block sidebar %}
{{ block.super }}
<form>
    <a href="{% url 'src.cats:register_pet' %}">
        <input type="button" class="btn btn-primary" value="Добавить питомца">
    </a>
</form>
{% endblock sidebar %}
{% block content %}
<div class="container">

    {% if cats %}
    <div class="row">
        {% for cat in cats %}
        <div class="col">
            {% if cat.photo %}
            <img src="{{ cat.photo.url }}" class="rounded-circle" width="200">
            <br>
            {% else %}
            <p>Нет фото</p>
            {% endif %}
            <a href="{% url 'src.cats:pet_detail' pk=cat.pk %}">{{ cat.name }}</a>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>Здесь еще никого нет</p>
    {% endif %}

</div>
{% endblock content %}