{% extends 'layout/base.html' %}

{% load bootstrap4 %}
{% load thumbnail %}
{% load static %}

{% block title %}Мои питомцы{% endblock title %}
{% block sidebar %}
{{ block.super }}
<form>
    <a href="{% url 'src.cats:register_pet' %}">
        <input type="button" class="btn btn-primary" value="Добавить питомца">
    </a>
</form>
{% endblock sidebar %}
{% block content %}
<div class="container">
    {% if cats %}
    <div class="row">
        {% for cat in cats %}
        <div class="col">
            <figure class="figure">
                {% if cat.photo %}
                    <a data-fancybox="gallery" href="{{ cat.photo.url }}">
                        <img src="{{ cat.photo.url }}" class="rounded-circle overflow-hidden" width="200" height="200">
                    </a>
                {% else %}
                    <img src="{% static 'account/img/no_photo.png' %}" alt="no photo">
                {% endif %}
                    <figcaption class="figure-caption text-center">
                        <a href="{% url 'src.cats:pet_detail' pk=cat.pk %}">{{ cat.name }}</a>
                    </figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <h3>Здесь еще никого нет</h3>
    {% endif %}
</div>

{% endblock content %}