<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Главная{% endblock title %}</title>
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'account/css/style.css' %}">
        {% bootstrap_javascript jquery='slim' %}
    </head>
    <body class="container-fluid">
        <div class="container">
            {% include 'layout/header.html' %}
            <div class="row">
                {% include 'layout/navbar.html' %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col col-lg-2">
                    {% block sidebar %}
                    {% include 'layout/sidebar.html' %}
                    {% endblock sidebar %}
                </div>
                <div class="col">
                    <section class="col py-2">
                        {% bootstrap_messages %}
                        {% block content %}
                        {% endblock content %}
                    </section>
                </div>
            </div>
            {% include 'layout/footer.html' %}
        </div>
    </body>
</html>
