<ul class="col nav justify-content-end border">
    {% if user.is_authenticated %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
        href="#" role="button" aria-haspopup="true" aria-expanded="false">Профиль</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'src.account:profile' %}">Моя страница</a>
            <a class="dropdown-item" href="{% url 'src.account:profile_change' %}">Изменить личные данные</a>
            <a class="dropdown-item" href="{% url 'src.account:password_change' %}">Изменить пароль</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'src.account:logout' %}">Выйти</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'src.account:profile_delete' %}">Удалить профиль</a>
        </div>
    </li>
    {% else %}
    <li class="nav-item"><a class="nav-link" href="{% url 'src.account:register' %}">Регистрация</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'src.account:login' %}">Вход</a></li>
    {% endif %}
</ul>