<ul class="col nav justify-content-end border">
    <li class="nav-item"><a class="nav-link" href="{% url 'src.account:register' %}">Регистрация</a></li>
    {% if user.is_authenticated %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
        href="#" role="button" aria-haspopup="true" aria-expanded="false">Профиль</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Мои котики</a>
            <a class="dropdown-item" href="#">Изменить личные данные</a>
            <a class="dropdown-item" href="#">Изменить пароль</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Выйти</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Удалить</a>
        </div>
    </li>
    {% else %}
    <li class="nav-item"><a class="nav-link" href="{% url 'src.account:login' %}">Вход</a></li>
    {% endif %}
</ul>